* {
    font-family: 'Open Sans', sans-serif;

}
header {
    background-color: rgb(5, 5, 172);
    padding-left: 30px;
    padding-top: 20px
}
header img {
    max-width: 70px;
    max-height: 70px;
    margin: auto;
    display: inline-block;
    position: relative;
}

header h1 {
    color: white;
    display: inline-block;
    text-transform: uppercase;
    font-size: 30px;
    margin: auto;
    text-align: center;
    position: relative;
    bottom: 15px;
}

#intro {
    background-color: rgb(5, 5, 172);
    padding: 20px;
    text-align: center;
}

#greeting {
    height: max-content;
}

#upload {
    background-color: white;
    height: max-content;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 40px;
    color: rgb(5, 5, 172);
    padding: 20px;
    text-align: center;
}

#intro h2 {
    color: white;

}

h2 {
    color: rgb(5, 5, 172);
}

#intro p {
    color: white;
}

.btn {
    background-color: rgb(228, 0, 0);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
  }
  
  /* Darker background on mouse-over */
  .btn:hover {
    background-color: rgb(145, 6, 6);
  }